<!--footer area starts here-->
<section id="footer">
<div class="container">
<div class="row">
<div class="col-md-4 add">
	<p><a href="https://goo.gl/maps/7PDTmKJb75YFFByA8"><i class="fa fa-map-marker" aria-hidden="true"></i>
   9080 W. Cheyenne Ave #110<br>
   Las Vegas, NV 8912</a><br>
</p>
</div>
<div class="col-md-4 add">
	<p><a href="https://goo.gl/maps/XZzQHRPCrgLHS4387"><i class="fa fa-map-marker" aria-hidden="true"></i>  10410 S. Eastern Ave #110<br> Henderson, NV 89052</a></p>
</div>
<div class="col-md-4 add">
<p><a href="https://goo.gl/maps/pcehVTVTB7NiWzDMA7"><i class="fa fa-map-marker" aria-hidden="true"></i> 	9111 W. Russell Rd #B<br>
Las Vegas, NV 89148</a>
</div>
</div>
</div>

</section>
<div class="copy-right">
<p class="text-center">© 2018 AdvancedAudiologyInstitute.</p>
</div>
<!--footer area ends here-->