<!--action bar area starts-->
<div class="action-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="logo">
<img src= "{{site.url}}/img/logo.png" alt=logo class="img-fluid">
</div>	
</div>
<div class="col-md-6">
	<ul class="call">
    <li><img src="{{site.url}}/img/call.png" alt="call"></li>
    <li class="call-no"> Send a message to <a href="(702) 903-7225" class="cal-color">(702) 903-7225</a> to schedule an appointment</li>
	</ul>
</div>

</div>
</div>
</div>
<!--actionbar area ends-->
<!--hero section starts here-->
<div class="header">
<div class="container">
<div class="row">
<div class="col-md-8">

	<h1 class="sub-title">Do you feel that the sounds around you have been more difficult to hear? It's time to enhance your hearing now.</h1>
	<h3 class="sub-title1">Get an Affordable & Custom Hearing Aid (specially designed for you)</h3>
<div class="ser-high">
	<h3>Service Highlights:</h3>
<ul class="header-list">
    <li>CAOHC certification</li>
   <li> Hearing Tests performed by licensed Hearing Professionals</li>
   <li> Precise hearing loss assessments and factual reports</li>
   <li> Attractive product selection and pricing</li>
   <li> Zero interest EMI</li>.
</ul>


</div>

</div>
<div class="col-md-4">
<div class="form1" id="appointment">
<h3>Schedule an appointment now</h3>

<form action="https://formspree.io/allwin.maxworth@gmail.com" method="POST">
  <div class="form-group">
  
    <input type="name" class="form-control" id="exampleInputEmail1" name="name" placeholder="Name" required>
  </div>
  <div class="form-group">
  
    <input type="number" class="form-control" id="exampleInputPassword1" name="number" placeholder="Number" required>
  </div>

  <div class="form-group">
   
    <input type="email" class="form-control" id="exampleInputPassword1" name="email" placeholder="Email" required>
  </div>
   <div class="form-group">
 
  <textarea class="form-control" rows="2" id="comment" placeholder="Message"></textarea>
</div> 
<div class="btn-sec">
  <button type="submit" class="btn btn-success btn-block" >Send</button>
</div>
</form>
</div>

<!--try starts-->
<div class="try">
<p>Try it free for 30 days. Payments plans available</p>
</div>
<!--try ends-->
</div>
</div>
</div>
</div>
<!--hero section ends here-->
<!--float menu starts-->
<a href="#" class="float" id="menu-share">

<i class="fas fa-headset my-float"></i>
</a>
<ul class="float-menu">
<li><a href="tel:(702) 903-7225">
<i class="fas fa-phone my-float"></i>
</a></li>
<li><a href="#footer">
<i class="fas fa-location-arrow my-float"></i>
</a></li>

</ul>
