<!--testimonial section starts here-->
<section id="testi">
<div class="container testi-head">
<h2 class="text-center">What our patients say about us</h2>
</div>

<div class="container testi-inner">
<div class="row">
<div class="col-md-3 testi-img">
<img src="{{site.url}}/img/user.png" alt="user" class="img-fluid float-right zoom">	
</div>
<div class="col-md-9 testi-text">
<p>I have been wearing hearing aids since the age of 3 (genetic nerve damage) and when I moved to Las Vegas ten years ago, I continued to get my audiological services done when I'd go back home once or twice a year. I am SO glad I recently found Dr. Smith - she is FANTASTIC. She is extremely knowledgable about the software that runs my hearing aids and equally important, she understands the unique challenges that come with being a hearing aid user. The office staff is great too - everyone is friendly and wait times are essentially non-existent. If you need hearing services here in the valley, please give Dr. Smith a call!</p>

<h4 ><span class="float-right name">Michelle L.</span><br><span class="float-right place">Spring Valley, Las Vegas, NV</span></h4>

</div>
</div>
</div>

</section>
<!--testimonial section ends here-->